<!DOCTYPE html>
<html>
<head>
    <title>Rice Pudding Recipe</title>
    <link rel="stylesheet" href="recipeOne.css" >
    <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
</head>

<body>

<!--  beginning of <div> class="jumbotron" -->

<div class="jumbotron">
    <h1>Rice Pudding Recipe</h1>
</div>

<!--  end of <div> class="jumbotron" -->

<!--  beginning of <div> id="ingredients" -->

<div id="ingredients">
    <img src="https://chowhound1.cbsistatic.com/assets/2013/07/30793_RecipeImage_620x413_rice_pudding.jpg" alt="a bowl of rice pudding" id="yummy">
    <h3>Ingredients:</h3>

    <ul style="list-style-type:disc;">
        <li>7 cups water</li>
        <li>1 cup long-grain white rice</li>
        <li>One 4-inch cinnamon stick</li>
        <li>One 12-ounce can evaporated milk</li>
        <li>One 14-ounce can condensed milk</li>
        <li>1 cup whole milk</li>
        <li>3/4 cup golden raisins</li>
        <li>Ground cinnamon, for dusting</li>
    </ul>

</div>
<!--  end of <div> id="ingredients" -->


<!--  xxxxx directions goes here yay!! -->
<div id="directions">
    <h3 id="howTo">Directions:</h3>

    <ol>
        <li class="steps">Put the water, rice, and cinnamon stick in a medium-size heavy saucepan set over medium-high heat.</li>
        <li class="steps">Bring to a boil, uncovered, and cook until the rice is tender, about 18 minutes.</li>
        <li class="steps">Strain out the liquid, discard the cinnamon and reserve the rice.</li>
        <li class="steps">Return the rice to the saucepan. Stir in the evaporated milk, condensed milk, and whole milk.</li>
        <li class="steps">Continue cooking over medium-high heat until the mixture comes to a boil.</li>
        <li class="steps">Reduce the heat to low and cook, uncovered, stirring constantly, until the mixture is thick, about 20 minutes.</li>
        <li class="steps">Add the raisins, and stir well. Transfer the pudding to a serving bowl.</li>
        <li class="steps">Dust the top of the pudding with ground cinnamon and serve for four.</li>
    </ol>

</div>		<!-- end of div id="directions"   -->


<!--  beginning of <div> id="tips" -->
<div id="tips">

    <h3>Tips:</h3>

    <p class="tipList">Yet rice pudding can be downright awful when not made the right way.</p>

    <p class="tipList">While keeping silky consistency and creamy flavor as their trademarks, they each offer a tasty departure from the traditional.</p>

    <p class="tipList">Not all rice puddings are custard based, of course, but I like the added richness of stirring in beaten egg yolks after the rice is tender.</p>

    <p class="tipList">There are different variations based on the Classic Rice Pudding recipe.</p>

</div>   <!-- end of <div> id="tips"   -->


<!--  beginning of <div> id="shrimp" -->

<div id="pudding">
    <img src="https://chowhound1.cbsistatic.com/assets/2013/07/30793_RecipeImage_620x413_rice_pudding.jpg" alt="a beautiful and colorful bowl of rice pudding" id="yumAlso">
    <p id="wikipedia">Visit <a href="https://en.wikipedia.org/wiki/Dominican_Republic_cuisine"> Wikipedia.org</a> to learn more about Rice Pudding.</p>

</div> <!-- end of <div> id="shrimp"   -->


<!--  beginning of <div> id="footer" -->

<div id="footer">
    <p>Recipe and Webpage by Cristian Reynoso-Betancourt</p>
</div>  <!--  end of <div> id="footer" -->

<script src="../myRecipes.js"></script>
</body>
</html>