<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Recipes</title>
    <link rel="stylesheet" href="myCSS.css" >
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Gravitas+One" rel="stylesheet">
</head>
<body>

<h1 id="top" class="ketotitle">My Friendly Recipe List</h1>
<div class="container">
    <div id="hover-me">
        <h4 id="Tableofcontents">Table of Contents</h4>

        <div id="Dominican Republic">
            <img src="https://i.etsystatic.com/18539626/r/il/431436/1970608533/il_794xN.1970608533_pb82.jpg" alt="a typical recipe from the island" height="250" width="300">
        </div>
        <div id="hover-content">
            <table>

                <ol>
                    <tr><li><a href="#Rice Pudding">Rice Pudding</a></li></tr>
                    <tr><li><a href="#fatbombs">Banana bread</a></li></tr>
                    <tr><li><a href="#ketochow">Fruit Salad</a></li></tr>
                </ol>

                <p>These are my friendly recipe list</p>
        </div>
    </div>
    </table>
</div>



<!--Pizza'rito begins--->


